*{
    padding: 0;
    margin: 0;
}
.Navbar_Main{
  position: fixed;
}
.Card_list{
  border: none;
  font: 24px/36px sans-serif;
  width: 380px;
  height: 600px;
  margin: 0 auto;
}
.Card_list span{
  width: 200px;
  height: 150px;
  overflow-y: auto;
}
.card--list{
  list-style-type: none;
}
