*{
    padding: 0;
    margin: 0;
}
body {
  background: url('https://cdn.shopify.com/s/files/1/2930/2308/products/deep-gray-printed-old-master-solid-background-for-photography-backdrop_540x.jpg?v=1535707898');
  color:white;
  font-family: 'Denk One', sans-serif;
}

.App{
    display: flex;
    /* flex-direction: column; */
    justify-content: baseline;
    background: url('https://cdn.shopify.com/s/files/1/2930/2308/products/deep-gray-printed-old-master-solid-background-for-photography-backdrop_540x.jpg?v=1535707898');
    width: 100%;
    height: 100vh;
    overflow: scroll;
}

.Navbar_Main{
  position: fixed;
}

i{
  color: white;
}

.Card_list{
  border: none;
  position: center;
  font: 24px/36px sans-serif;
  width: 380px;
  height: 600px;
}

.Card_list span{
  width: 200px;
  height: 150px;
  overflow-y: auto;
}
